.is_noti, .noti{padding-top: 5px}

.avatar-list img{
    width:40px;height:40px;background:#FFF;border:1px solid #CCC;border-radius:100%;
    margin:0px!important;position:relative;z-index:1;display:inline-block;padding:0px}


.avatar-form img{
    width:85px;height:85px;background:#FFF;border:1px solid #CCC;
    margin:0px!important;position:relative;z-index:1;display:inline-block;padding:0px}



.text-align-center{text-align: center}


.reminder-td{color:black;text-align:center}
.text-align-left{text-align: left!important;}
.a-underline{text-decoration: underline!important}

table.csv-ix-table, table.csv-ix-table th, table.csv-ix-table td{border:1px solid #ddd!important;}
table.csv-ix-table th{background-color:#8BC954!important;}
.csv-ix-head{text-align: center!important;}
.csv-ix{text-align: center!important;}


#body-add-review-form-review textarea {
    height: 70px!important;
}

.files-review-gsnipreview-admin{margin: 10px 0 20px 0;height:150px}
.files-review-gsnipreview-admin .img-thumbnail-custom{
    border: 1px solid #ddd;
    border-radius: 3px;padding: 4px;}



.margin-item-form-top-left{margin-top:5px;}
.margin-item-form-top-left .badge{font-weight: bold}
.margin-item-form-top-left .badge a{color:white;text-decoration: underline}
.badge{
    background-color: #00aff0;
    font-size: 1em;
    letter-spacing: 0.0625em;
    line-height: inherit;
    padding: 1px 5px;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    min-width: 10px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    padding: 3px 7px;
}


