.block-last-gsnipreviews h4.title_block{margin-bottom: 0px!important}
.col-sm-4{width:28%!important;}
.items-last-gsnipreviews{padding-top:25px!important;}
table.my-customer-reviews-ps14 td, table.my-customer-reviews-ps14 th{padding:0px!important;}

.block_content a.button{width:auto!important;background-repeat: repeat-x;}
.block-helpful{line-height: 1.8em;}
.items-last-gsnipreviews{overflow: visible}

.files-review-gsnipreview img{width:90px;height:90px}

.footer_links li{height: auto!important;}


.button.button-small-gsnipreview
{
    background-position: left top;
    background-repeat: no-repeat;
    border: medium none;
    color: black !important;
    cursor: pointer;
    display: block;
    font-size: 10px !important;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    text-align: center;
    text-decoration: none !important;
}

.button.button-small-gsnipreview span{display: inline!important;border: none!important;color:white}