@CHARSET "utf-8";

#body-add-review-form-review input{padding: 0 5px; height: 28px; width: 97% !important; min-width: 97% !important; border: 1px solid #ccc; background: #fff;}
#body-add-review-form-review .cursor-active{cursor: auto!important;color:#666!important;}
#body-add-review-form-review textarea{padding: 5px; height: 70px; width: 97% !important; min-width: 97% !important; border: 1px solid #ccc; background: #fff;}




.googlesnippetsblock .rating{curson:auto!important;padding:0px!important;display:inline!important;margin:0px!important;}



/*ps 15 */
.fix-width-ps15{width:10px}
.col-sm-2{width: 15%;float:left}
.col-sm-10 {width: 80%;float:left}
.block-last-gsnipreviews h4.title_block{margin-bottom:20px}
.col-sm-6 {width: 47%;float:left;padding-left: 10px;}

.col-sm-4 {width: 30%;float:left}
.col-sm-8 {width: 60%;float:left}

.col-sm-9-list-reviews{width:71%!important}

.col-sm-1 {
    width: 15%;float:left
}
.col-sm-11 {
    width: 82%;float:left
}

.img-responsive {display: block;height: auto;max-width: 100%;}
.gsniprev-img-star-list{margin-bottom:-2px}

.table-bordered {
    border: 1px solid #d6d4d4;
}
.table > thead > tr > th {
    background: #fbfbfb none repeat scroll 0 0;
    border-bottom-width: 1px;
    color: #333;
    vertical-align: middle;
}
.table thead:first-child tr:first-child td {
    border-top: 0 none;
}
.table tbody > tr > td {
    vertical-align: middle;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
    border: 1px solid #d6d4d4;
}

.table thead > tr > th, .table thead > tr > td, .table tbody > tr > th, .table tbody > tr > td, .table tfoot > tr > th, .table tfoot > tr > td {
    line-height: 1.42857;
    padding: 9px 8px 11px 18px;
}

.alert-info{
    background-color: #5192f3;
    border-color: #4b80c3;
    color: #fff;
}

.alert-warning{
    background-color: #fe9126;
    border-color: #e4752b;
    color: #fff;
}

.alert-danger {
    background-color: #f3515c;
    border-color: #d4323d;
    color: #fff; }

.alert-success {
    background-color: #55c65e;
    border-color: #48b151;
    color: #fff;
}
.alert .alert-success {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
.alert {
    font-weight: bold;
}
.alert {
    border-radius: 0;
    margin-bottom: 18px;
    padding: 15px;
}

.alert button.close {
    display:none
}


.img-block-gsnipreview{padding:0px!important;}
.avatar-block-rev img{vertical-align: bottom}
.filter-reviews-gsnipreview .active-items-block{padding:2px}


.avatar-block img, .avatar-block15 img, .avatar-block-home img, .avatar-block-popup img{width:40px!important;height:40px!important;}

div#gsnipreview-box.right_shopreviews .belt, div#gsnipreview-box.left_shopreviews .belt{line-height:1.3em}
.shop-owner-reply-on-review{margin-left: 15%!important;}

.blockmanufacturer form{margin-top:0px}


#gsnipreview_block_footer_storereviews{float: none!important;width: auto!important;}

/*ps 15 */
