.stars-section{margin-top:10px;float:left}
#body-add-review-form-review label{width:auto!important;}
#body-add-review-form-review .gsnipreview-checkbox{margin-top:10px}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #00aff0;
    border-radius: 10px; }
.badge:empty {
    display: none; }

.badge a{color:white;text-decoration: underline}
.rating-stars-dynamic-item-admin{margin-top:5px;}