

.gsnipreview-content div.menu-content{
	border: 1px solid #CCCCCC;
    margin: 10px 5px 0;
    padding: 10px;
}

.gsnipreview-content h3.title-block-content{
	margin-top:5px;
	font-size:1.25em;
	color:#E8871E;
}

.gsnipreview-menu{width:25%;
			 float:left;
			 padding:5px}

ul.leftMenu  {
	font-size:12px;
    list-style: none outside none;
    margin: 1px 0 0;
    padding: 0 0 16px;
}

.ps15-width{/*width: 100%; margin: 0px auto;*/}

ul.leftMenu li {
    padding: 0;
	float:left;
   
}

ul.leftMenu li a {
      border: 1px solid #CCCCCC;
    display: block;
    font-size: 110%;
    font-weight: bold;
	margin: 0 5px;
    padding: 10px;
	margin-top:5px;
}
ul.leftMenu li a.selected{ 
	background-color:#F4E6C9;
}






.items-content{
    width:70%;
    float:left;
    margin-left:2%;
    font-size:12px;


}

.items-content div.menu-content{
    border: 1px solid #CCCCCC;
    margin: 10px 5px 0;
    padding: 10px;
}

.items-content h3.title-block-content{
    margin-top:5px;
    font-size:1.25em;
    color:#E8871E;
}

.socialdiscounts-menu{width:25%;
    float:left;
    padding:5px}

ul.leftMenuIN  {
    font-size:12px;
    list-style: none outside none;
    margin: 1px 0 0;
    /*padding: 0 0 16px;*/
    float: left;
    padding: 5px;
    width: 25%;
}

.ps15-width{/*width: 100%; margin: 0px auto;*/}

ul.leftMenuIN li {
    padding: 0;
    /*float:left;*/
    /*height: 30px;*/
    margin: 5px 0 0;

}

ul.leftMenuIN li a {
    border: 1px solid #CCCCCC;
    display: block;
    font-size: 110%;
    font-weight: bold;
    margin: 0 5px;
    padding: 10px;
}
ul.leftMenuIN li a.selected{
    background-color:#F4E6C9;
}





.bootstrap label.control-label {
    color: #666;
    font-size: 13px;
    font-weight: normal;
}
.bootstrap label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 100%;
    text-align: left!important;
    width: 100% !important;
}
.bootstrap .input-group {
    border-collapse: separate;
    display: table;
    position: relative;
}
.bootstrap .col-lg-12 {
    width: 100%;
}
.bootstrap .col-lg-6 {
    width: 50%;float: left;
}

.bootstrap .btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.bootstrap .btn-success {
    background-color: #72c279;
    border-color: #60ba68;
    color: #fff;
}


.text-decoration-underline{text-decoration: underline!important;}
