.slick-slide
{
    box-sizing: border-box;
}
.PPslick-prev{
    left: -30px; 
}
.PPslick-next{
    right: -30px;
    text-align: right;
}
.PPslick-prev, .PPslick-next{
    line-height: 0;
    position: absolute;
    top: 50%;
    font-size: 20px;
    border: 2px solid #cc0000;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.PPslick-prev i, .PPslick-next i{
    width: 20px;
    height: 20px;
    border: 1px solid orange;
    background: orange;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    /* color: black; */
    border-radius: 10px;
}
.PPslick-prev i:hover, .PPslick-next i:hover{
    opacity: 1;
}
.gslide-header{
    margin: 0 auto;
    width: 90%;
}
.slick-slide{
    max-height: 450px;
    overflow: auto;
}