.condrimindertype_tab {
    display: none;
}

.panel.col-lg-12.gcart-none-borderradius,
#condrimindertype_admincontent.panel {
    border-radius: 0px !important;
    border-color: #fff !important;
}

.panel.col-lg-12.gcart-none-borderradius .panel-footer {
    background: #fff !important;
    margin: 15px -15px -15px;
}

.panel.gcarttab-setting,
.panel.gcarttab-gnotification,
#configuration_fieldset_setting.panel,
#gconditionandreminder_form #fieldset_0.panel,
#configuration_fieldset_manual.panel {
    display: none;
}

.condrimindertype_tab.activetab {
    display: block;
}

.ui-datepicker {
    z-index: 1031!important;
}

#hidegroup {
    display: none;
}

#hidereminder {
    display: none;
}

.last_number {
    display: none;
}

.converthtmltotext {
    min-height: 200px;
    overflow: auto !important;
}

.bootstrap .form-group1 {
    margin-bottom: 15px;
}

.bootstrap .form-group1:after {
    content: " ";
    display: table;
    clear: both;
}

.form-group3 {
    margin-left: -5px;
    margin-right: -5px;
}


/* email css*/

.body_email {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

.header_email {
    width: 100%;
    height: 30px;
    background: red;
}


/*abadone cart*/

.showtemplatemail {
    width: 100%;
    height: auto;
    max-height: 270px;
    overflow: auto;
    border: 1px solid #DFE5EA;
}

#hideinputstatusemail {
    text-align: left;
    color: #CED8E0;
}

.log-body-email {
    background: #EBEDF0;
}

.log-body-email>table>tbody>tr>td {
    background: #EBEDF0 !important;
}

.bootstrap .form-group1 {
    margin-bottom: 15px;
}

.bootstrap .form-group1:after {
    content: " ";
    display: table;
    clear: both;
}

@media (min-width: 768px) {
    .modal-cssemail {
        width: 800px !important;
    }
}

.admingcartreminderabadonedcart .bootstrap .table thead>tr>th span.title_box {
    white-space: unset;
    word-wrap: unset;
}


/*cartreminder css*/

.bootstrap .linktabs a.list-group-item img {
    margin-right: 15px;
}

.bootstrap .linktabs a.list-group-item {
    font-size: 14px;
    font-weight: bold;
    color: #575784;
    border: 1px solid #E9EAF2;
}

.bootstrap .linktabs .list-group-item.active {
    background-color: #6161C7;
    border: 1px solid #E9EAF2;
    color: #fff;
}

.log_reminder {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #E9EAF2;
}

.log_reminder .header-dash {
    background: #F9FAFD;
    position: relative;
    line-height: 34px;
    padding: 5px 10px;
    border-bottom: 1px solid #E9EAF2;
    color: #575784;
}

.log_reminder .header-dash .icon-bar-chart {
    margin-right: 10px;
    color: #575784;
}

.log_reminder .header-dash .tab-time {
    float: right;
    padding: 0;
    margin: 0;
    border: 1px solid #E9EAF2;
    border-radius: 4px;
    overflow: hidden;
}

.log_reminder .header-dash .tab-time li {
    float: left;
    list-style: none;
    padding: 0 10px;
    border-right: 1px solid #E9EAF2;
}

.log_reminder .header-dash .tab-time li:last-child {
    border-right: 0;
}

.log_reminder .header-dash .tab-time li.active {
    background: #6161C7;
}

.log_reminder .header-dash .tab-time li.active:hover a,
.log_reminder .header-dash .tab-time li.active a {
    color: #fff;
}

.log_reminder .header-dash .tab-time li:hover a {
    color: #6161C7;
    text-decoration: none;
}

.log_reminder .header-dash .tab-time li a {
    color: #A1A1C6;
}

.list-log {
    height: 360px;
    overflow: auto;
}

.dashboard {
    margin-bottom: 10px;
}

.bootstrap .tabcustom .badge.badge-danger {
    background-color: #FF766A;
    margin: 10px;
    padding: 3px;
}

.bootstrap ul.list-overview {
    padding: 0 20px;
    margin: 0;
}

.list-overview li {
    list-style: none;
    line-height: 59px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #E9EAF2;
}

.list-overview li a {
    color: #575784;
}

.list-overview li a:hover {
    color: #6161C7;
    text-decoration: none;
}

.list-overview li:last-child {
    border-bottom: 0;
}

.list-overview li a span {
    float: right;
}

#main .bootstrap .btn-default:not(.dropdown-toggle) {
    border: 1px solid #E9EAF2!important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #575784;
    min-width: 50px;
}

#main .bootstrap .btn-default:focus,
#main .bootstrap .btn-default:hover {
    outline: 0;
    background: #6161C7!important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #fff;
}

#main .bootstrap .dropdown-menu>li>a:focus,
#main .bootstrap .dropdown-menu>li>a:hover {
    background: #6161C7!important;
}

#main .bootstrap .switch a {
    background-color: #6161C7!important;
    border: 1px solid #6161C7!important;
}

#main .bootstrap .switch input:last-of-type:checked~a {
    border: 0!important;
    background-color: #E08F95!important;
}

body,
#content.bootstrap .panel .panel-heading i,
#content.bootstrap .btn.btn-default i,
.bootstrap input[type="text"],
.bootstrap .form-horizontal .control-label {
    color: #575784;
}

.bootstrap input[type="number"]:focus,
.bootstrap input[type="text"]:focus {
    border-color: #6161C7;
}

#main .bootstrap .prestashop-switch {
    background: #E9EAF2!important;
    box-shadow: none;
}

.bootstrap .help-block {
    color: #A1A1C6!important;
}

.bootstrap .help-block code {
    color: #6161C7!important;
}

#conf_id_1,
#conf_id_2,
#conf_id_3,
#gnotification,
#gtab_notification,
#help_gnotification {
    display: none;
}

#conf_id_1.active,
#conf_id_2.active,
#conf_id_3.active,
#gnotification.active,
#gtab_notification.active,
#help_gnotification.active {
    display: block;
}

#gabandoned_notification_fieldset_browser .tab-pane.active>.form-group>div {
    display: block!important;
}

#configuration_fieldset_setting .panel-heading {
    display: none;
}

#gabandoned_notification_fieldset_browser li,
.tabs-create li {
    border: 0;
    margin-right: 5px;
}

#gabandoned_notification_fieldset_browser li a,
.tabs-create li a {
    border: none !important;
}

#gabandoned_notification_fieldset_browser li.active a,
.tabs-create li.active a {
    color: #6161c7 !important;
    background: #fff !important;
}

#gabandoned_notification_fieldset_browser li.active:hover a {
    border: transparent transparent transparent;
    color: #6161c7;
}

#gabandoned_notification_fieldset_browser .nav-tabs>li>a:hover,
.bootstrap .nav-tabs>li>a:hover {
    border-color: #6161c7 #6161c7 #6161c7;
}

#gabandoned_notification_fieldset_browser .nav-tabs>li.active a:hover {
    border: 1px solid #E9EAF2;
    border-bottom: 1px solid #fff;
}

#gabandoned_notification_fieldset_browser li:hover a,
.tabs-create li:hover a {
    border: 1px solid #E9EAF2;
    color: #fff;
}

#gabandoned_notification_fieldset_browser li a,
.tabs-create li a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #6161c7;
    color: #fff;
}

#content.bootstrap .input-group-addon,
#content.bootstrap .form-control {
    border: 1px solid #E9EAF2!important;
}

#mColorPickerInput,
.bootstrap .btn.btn-default:hover i {
    color: #fff!important;
}

.gcart-input-group {
    width: 100%;
}

.gchart_box svg {
    width: 100%;
}

.nv-lineChart {
    transform: translate(35px, 40px);
}

.modal-header {
    background: #6161c7;
    color: #fff;
    text-align: center;
    background: #6161c7;
    color: #fff;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1 1;
}

.modal-content {
    box-shadow: none;
    border: none;
    border-radius: 6px;
    min-width: 800px;
}

.modal-header>h4 {
    font-size: 20px;
    text-transform: uppercase;
    flex: 1 0;
}

.modal-header>div {
    flex: 1 0;
}

.modal-header>div>h4 {
    font-size: 20px;
    text-transform: uppercase;
}

#form-cart .panel,
#form-gconditionandreminder .panel,
#form-gabandoned_popup .panel,
#gabandoned_popup_form .panel,
#gabandoned_bar_fieldset_bar.panel,
#form-gaddnewemail_template .panel,
#gaddnewemail_template_form .panel,
.help_gcart.panel,
#searchcartabadone>.form-group>.panel {
    width: 100%;
    float: left;
    border-radius: 4px !important;
    border: 1px solid #E9EAF2 !important;
    margin-bottom: 5px !important;
    padding: 0 !important;
}

#form-cart .panel .panel-heading,
#form-gconditionandreminder .panel .panel-heading,
#form-gabandoned_popup .panel .panel-heading,
#gabandoned_popup_form .panel .panel-heading,
#gabandoned_bar_fieldset_bar.panel .panel-heading,
#form-gaddnewemail_template .panel .panel-heading,
#gaddnewemail_template_form .panel .panel-heading,
.help_gcart.panel .panel-heading {
    padding: 3px 10px !important;
    background: #F6F8FA;
    border-bottom: 1px solid #E9EAF2 !important;
    margin: 0 0 10px 0 !important;
    height: auto !important;
}

#searchcartabadone>.form-group>.panel .panel-heading {
    padding: 3px 10px !important;
    border-bottom: 1px solid #E9EAF2 !important;
    margin: 0 0 10px 0 !important;
    height: auto !important;
    display: flex;
}

#searchcartabadone>.form-group>.panel .panel-heading>div:not(.col-lg-3) {
    flex: 1 1;
}

#searchcartabadone>.form-group>.panel .panel-heading>div.col-lg-3 {
    display: flex;
}

#form-cart .panel .table-responsive-row,
#form-gconditionandreminder .panel .table-responsive-row,
#form-gabandoned_popup .panel .table-responsive-row,
#gabandoned_popup_form .panel .table-responsive-row,
#gabandoned_bar_fieldset_bar.panel .table-responsive-row,
#form-gaddnewemail_template .panel .table-responsive-row,
#gaddnewemail_template_form .panel .table-responsive-row,
.help_gcart.panel .table-responsive-row {
    padding: 0 20px;
}

#gabandoned_popup_form .panel .panel-footer,
#gabandoned_bar_fieldset_bar.panel .panel-footer,
#gaddnewemail_template_form .panel .panel-footer {
    margin: 0!important;
}

#gabandoned_popup_form .panel .form-wrapper,
#gabandoned_bar_fieldset_bar.panel .form-wrapper,
#gaddnewemail_template_form .panel .form-wrapper,
.help_gcart.panel .help_gcart_content,
#searchcartabadone>.form-group>.panel .form-wrapper {
    padding: 20px;
}

.bootstrap .bulk-actions,
.bootstrap .pagination {
    margin: 17px 20px 20px 20px;
}

#gconditionandreminder_form .input-group-addon i {
    color: #A1A1C6;
}

button.gcart-btn-default {
    color: #575784!important;
}

#reminder_group_table .reminder_tr_td .badge {
    padding: 0px 5px;
    background-color: #6161C7;
}

.gcart-tablegroup {
    width: 100%;
}

.action-table-group a {
    margin-left: 5px;
}

tr.group-orreminder div.panel,
.action-table-group {
    margin-top: 20px;
}

.group-orreminder:before {
    content: "OR";
    position: absolute;
    width: 18px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    height: 18px;
    background: #6161C7;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    left: 20px;
}

.group-andreminder:first-child::before {
    opacity: 0;
}

.group-andreminder {
    height: 55px;
}

.group-andreminder:before {
    content: "+";
    position: absolute;
    width: 18px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    height: 18px;
    background: #6161C7;
    border-radius: 50%;
    left: 25px;
    color: #fff;
    text-align: center;
}

.group-condition-extra {
    margin-bottom: 5px;
    height: 31px;
}

.modal-header button.close {
    color: #FFFFFF!important;
    text-shadow: 0 1px 0 #fff!important;
    opacity: 1!important;
}

.modal-header button.close span {
    font-size: 24px;
}

.gcart-nonepadding {
    padding: 0!important;
}

.nonediscounttype_price {
    display: none;
}

.nonediscounttype_price.show {
    display: block;
}

#gcartshow_extra_country,
#searchcartabadone,
#sendcartabadone {
    display: none;
}

#gcartshow_extra_country.active,
#searchcartabadone.active,
#sendcartabadone.active {
    display: block;
}

.gcart-nonepaddingleft {
    padding-left: 0px!important;
}

.shownumber_row {
    text-align: center;
}

.shownumber_row .page_show_shoppingpendding_result {
    position: relative;
}

.shownumber_row .page_show_shoppingcheckpendding_result {
    position: relative;
}


/*loading */

.loading_table {
    text-align: center;
}

.Gloading_table {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.Gloading_table div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #9574cd;
    animation: Gloading_table 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.Gloading_table div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.Gloading_table div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.Gloading_table div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes Gloading_table {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

.select-menulist .templateList {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.select-menulist .templateList div.template {
    flex: 1 1 50%;
    padding: 15px;
    max-width: 50%;
    max-height: 650px;
}

.template-inner,
.block-inner {
    position: relative;
    background: #ffffff;
    box-shadow: 0 0 0 1px rgb(63 63 68 / 5%), 0 1px 3px 0 rgb(63 63 68 / 15%);
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid #fff;
    -webkit-transition: all 150ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 150ms cubic-bezier(0.19, 1, 0.22, 1);
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3.6rem;
    background: #ffffff;
    max-height: 450px;
}

.template-inner img,
.block-inner img {
    width: 100%;
    display: block;
    height: 100%;
}

.template-inner span,
.block-inner span {
    text-align: center;
    display: grid;
    padding: 10px 10px 10px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid rgba(63, 63, 68, 0.15);
}

.template-inner:hover,
.block-inner:hover {
    border-color: #f57a02;
    -webkit-transition: all 150ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 150ms cubic-bezier(0.19, 1, 0.22, 1);
}

.publish_box {
    width: 100%;
    float: left;
    border-radius: 4px;
    border: 1px solid #E9EAF2;
}

.box-heading {
    padding: 10px;
    background: #F6F8FA;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #E9EAF2;
}

.gbox_content {
    padding: 20px;
    background: #fff;
}

.emailshortcode,
.emailshortcode table {
    width: 100%;
    float: left;
}

.emailshortcode table .even {
    background: #F6F8FA;
}

.emailshortcode table td {
    line-height: 25px;
    cursor: pointer;
}

#mColorPickerImg {
    background-image: url('../../../../../img/admin/colorpicker.png') !important;
}

#mColorPickerImgGray {
    background-image: url('../../../../../img/admin/graybar.jpg') !important;
}

#mColorPickerFooter {
    background-image: url('../../../../../img/admin/grid.gif') !important;
}

.gcartlds-ellipsis {
    position: relative;
    width: 80px;
    height: 45px;
    display: none;
}

.gcartlds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #6161C7;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.gcartlds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.gcartlds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.gcartlds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.gcartlds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}