/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

.hidden {
    display: none !important;
}

#_desktop_user_info,
#_desktop_cart {
    display: flex;
    align-items: center;
}

#_desktop_user_info .user-info {
    margin: 0px auto;
}

#_desktop_user_info .user-info a {
    color: #7a7a7a;
    display: flex;
}

#_desktop_user_info .user-info span {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

#_desktop_cart .header {
    display: flex;
}

#_desktop_cart div .hidden-sm-down {
    align-items: center;
    display: flex;
    padding-left: 1rem;
}

#_desktop_cart div .cart-products-count {
    display: flex;
    align-items: center;
    color: white;
    background-color: #ef5f23;
    border-radius: 50%;
    min-width: 25px;
    float: none;
    justify-content: center;
    margin-left: 8px;
}

.search-widget {
    align-items: center;
    display: flex;
}

#left-column {
    padding-left: 0px;
    padding-right: 0.5rem;
}

#content-wrapper {
    padding-left: 0.5rem;
}

#content-wrapper {
    padding-right: 0px;
}

#carousel .caption {
    display: none;
}

footer .links .collapse {
    margin: 0px;
}

footer #block_myaccount_infos .myaccount-title a,
footer #block_payment_secure .myaccount-title a,
footer #block_certifie .myaccount-title a,
footer #block_newsletterfooter .myaccount-title a {
    color: white;
}

#products .product,
.product-accessories .product,
.product-miniature .product {
    width: 25%;
}

.pc_prixdegrhover {
    font-size: 12px;
    text-align: right;
    padding: 5px 15px;
    font-weight: normal;
}

.quant_discmod {
    display: none;
}

div#iqitmegamenu-horizontal {
    margin: 0 !important;
    padding: 0 !important;
}

.header-top>.container>.row {
    margin: 0 !important;
}

.header-top>.container>.row .col-md-12.col-sm-12.position-static {
    padding: 0;
}

.cbp-hor-width-0 #iqitmegamenu-horizontal.cbp-sticky .container {
    padding-left: 15px;
    padding-right: 15px;
}

.cart-hover-content {
    display: none;
}

#_desktop_cart:hover .cart-hover-content {
    display: block;
}

.pc_carturl {
    display: flex;
    color: #7a7a7a;
}

.pc_carturl .cart-products-count {
    color: white;
    background-color: #ef5f23;
    border-radius: 50%;
    min-width: 25px;
    float: none;
    justify-content: center;
    margin-left: 8px;
}

.slideControls {
    position: absolute;
    height: 100%;
    left: 30.625px;
}

.slideControls i {
    font-size: 30px;
}

.slideControls .slideNext {
    position: relative;
    cursor: pointer;
    bottom: 0px;
    display: inline-block;
    height: 30px;
}

.slideControls .slidePrev {
    position: absolute;
    cursor: pointer;
}

.cart-hover-content {
    width: 340px;
    position: fixed;
    z-index: 999999;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    right: 0px;
    overflow: hidden;
    top: 80px;
}

.cart_hover_resume {
    width: 100%;
    display: flex;
    padding: 10px;
}

.pc_carthover_quantity {
    width: 25%;
    display: flex;
}

.pc_carthover_quantity span {
    color: white;
    background-color: #ef5f23;
    border-radius: 50%;
    min-width: 25px;
    float: none;
    justify-content: center;
    margin-left: 8px;
}

.pc_hovertotalval {
    width: 75%;
    text-align: right;
}

#_desktop_cart hr {
    margin: 0px auto;
}

.cart-wishlist-item {
    display: flex;
    padding: 10px;
    align-items: center;
    display: flex;
}

.cart-action a {
    float: right;
    padding: 15px;
    background-color: #ef5f23;
    color: white;
    width: 100%;
    text-align: center;
}

.minicart-img {
    max-width: 70px;
    width: 100%;
    padding-right: 5px;
}

.minicart-img img {
    width: 100%;
}

#_desktop_cart .product-name {
    font-size: 13px;
    width: 95%;
    display: flex;
}

#_desktop_cart .product-price {
    width: 100%;
    font-size: 14px;
}

#subcategories ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

#subcategories ul li:nth-child(4),
#subcategories ul li:nth-child(8),
#subcategories ul li:nth-child(12),
#subcategories ul li:nth-child(16) {
    padding-right: 0px;
}

#subcategories li {
    width: 25%;
    padding: 0px 1rem 1rem 0px;
}

#subcategories li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #dfdfdf;
    padding: .6rem;
    height: 67px;
    gap: 12px;
}

#subcategories li a:hover {
    border: 1px solid #ef5f23;
}

#subcategories li a p {
    margin: 0;
    text-transform: uppercase;
}

#subcategories li a img {
    max-width: 46px;
}

#subcategories li a h5 {
    margin: 0px;
    font-size: 14px;
    font-weight: normal;
    color: #777;
    text-decoration: none;
    padding-left: 10px;
}

#search_filters .ui-widget-header {
    background: #ef5f23 !important;
}

#products .thumbnail-container:hover,
.featured-products .thumbnail-container:hover,
.product-accessories .thumbnail-container:hover,
.product-miniature .thumbnail-container:hover {
    border: 1px solid #ef5f23 !important;
}

.product-variants {
    display: flex;
}

#description ul {
    padding-left: 30px;
    list-style: inherit;
}

#product .product-flags {
    padding-left: 0px !important;
}

ul {
    list-style: none;
}

.product-variants>.product-variants-item select:hover {
    border: 1px solid #ef5f23;
}

.panc_prodleftcolimage {
    padding-left: 50px;
}

.product-cover {
    margin-left: 1rem;
}

#product .tabs {
    padding: 0;
}

#product #tab-content {
    padding: 1rem;
}

#authentication .breadcrumb {
    display: none;
}


/* authentication and register */

input:focus~.floating-label,
input:focus~.unrequired,
input:not(:focus):valid~.floating-label,
input:not(:placeholder-shown)~.unrequired,
input:not(:placeholder-shown)~.floating-label {
    font-weight: 700;
    color: #363a42;
    font-size: 11px;
    position: absolute;
    pointer-events: none;
    margin-left: 10px;
    top: 2px;
    padding: 0px;
    transition: 0.4s ease all;
    width: auto;
    z-index: 999;
}

input:valid:not(:placeholder-shown).inputText {
    border-color: #ef5f23 !important;
}


/*
input:not(:valid):not(:placeholder-shown).inputText{
    border-color: #ff0000 !important;
}
*/

.inputText {
    font-size: 14px;
    padding-top: 17px;
}

.floating-label,
.unrequired {
    color: #848484;
    font-size: 14px;
    opacity: 1;
    position: absolute;
    pointer-events: none;
    margin-left: 10px;
    top: 12px;
    padding: 0px;
    transition: 0.4s ease all;
    width: auto;
    z-index: 999;
}

.order-pad {
    padding: 8px;
    color: #333;
}

.button-85 {
    width: 160px;
    text-align: center;
    border: 2px solid #ef5f23;
    color: rgb(255, 255, 255);
    background: #f9f9f9;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}


/*Order Track*/

.order-track {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.order-track .order-track-step {
    display: flex;
    height: 4rem;
}

.order-track .order-track-step-last {
    overflow: hidden;
    height: 4rem;
}

.order-track-status-line-last {
    display: none;
}

.order-track-status {
    margin-right: 1.5rem;
    position: relative;
}

.order-track-status-dot {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ef5f23;
    border-style: solid;
    border-width: 8px;
    border-color: #f9f9f9;
}

.order-track-status-dot-last {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f9f9f9;
    border-style: solid;
    border-width: 8px;
    border-color: #ef5f23;
}

.order-track-status-line {
    display: block;
    margin: 0 auto;
    width: 2px;
    height: 4rem;
    background: #ef5f23;
}

.order-track .secondlast {
    background: #ef5f23;
}

#authentication {
    background-color: #f5f6f7;
}

#authentication .form-footer {
    padding: 0px 3rem;
}

#authentication .form-footer button {
    padding: 1rem;
    width: 100%;
    border-radius: 9px;
}

#authentication .form-footer i {
    padding-right: 10px;
}

#authentication .form-control-comment {
    display: none;
}

#authentication h1 {
    text-align: center;
    font-size: 36px;
}

#authentication .form-group {
    margin: 0px 0px 1rem 0px;
}

#authentication .form-group .col-md-12 {
    padding: 0px 3rem;
}

#authentication #content {
    margin: 0px;
    background: none;
    padding: 0px;
    border: none;
    width: 100%;
    display: flex;
    max-width: 100%;
    margin: 0px auto;
}

.proaccountinfo {
    width: 50%;
    margin-left: 1rem;
    background-color: white;
    padding: 2rem;
}

#authentication #header *,
#authentication #footer {
    display: none;
}

#authentication #header #auth-page-header,
#authentication #header #auth-page-header * {
    display: flex;
}

#wrapper {
    border-bottom: 0px;
}

.panc_password {
    display: flex;
}

.panc_password button {
    border: 1px solid #ef5f23;
    color: #ef5f23;
    font-size: 18px;
    background-color: white;
}

.panc_password button:hover {
    background-color: #ef5f23;
    color: white;
}

#authentication #login-form {
    background-color: white;
    border-radius: 9px;
    padding-bottom: 3rem;
}

#authentication .login-form {
    width: 50%;
}

#authentication .login-form:first-child {
    padding-right: 0.6rem;
}

#authentication .login-form:nth-child(2) {
    padding-left: 0.6rem;
}

.login-lbl {
    width: 100%;
    text-align: center;
    padding: 1.5rem 1rem;
    font-size: 18px;
    font-weight: bold;
    color: #232323;
}

.register-block {
    width: 50%;
    padding-left: 0.6rem;
    max-width: 500px;
    margin-top: 15px;
}

.pc-loginregister-footer {
    padding: 20px;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
}

.register-form {
    background-color: white;
    padding: 1rem;
    width: 50%;
}

.pc-logininstead {
    padding: 1rem;
    text-align: center;
}

.pc-loginsection {
    padding: 1rem 0rem;
}

.pc-register-insidebox {
    background-color: white;
    padding-bottom: 3rem;
}

.pc-register-text {
    padding: 1rem 3rem;
}

.pc-register-text div {
    padding: 0 0 1rem 0rem;
}

.pc-register-advantages li {
    display: flex;
    align-items: center;
}

.pc-register-advantages li i {
    padding-right: 10px;
    font-size: 7px;
}

.pc-register-button {
    padding: 0px 3rem;
    display: flex;
}

.pc-register-button a {
    text-align: center;
    background-color: white;
    color: #ef5f23;
    border: 1px solid #ef5f23;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 17px;
}

.pc-register-button a:hover {
    background-color: #ef5f23;
    color: white;
}

.pc-register-button i {
    padding-right: 10px;
}

.pc-block-myaccountinfo {
    min-height: 211px;
    padding: 1rem;
    background-color: #4a4a4a;
    border-top: 3px solid #ef5f23;
}

.pc-checkout-header {
    padding: 20px;
    background-color: white;
    display: flex;
    position: relative;
    margin-bottom: 1rem;
}

.pc-btn-goback {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    text-align: left;
    display: flex;
    align-items: center;
}

.pc-btn-goback i {
    padding-right: 10px;
}

.pc-checkout-logo {
    text-align: center;
    margin: 0px auto;
}

.pc-checkout-logo img {
    max-width: 200px;
}

.pc-checkout-contactblock {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    text-align: right;
    align-items: center;
    right: 1rem;
}

.pc-checkout-contactblock div:first-child {
    padding-bottom: 5px;
}

.pc-checkout-contactblock div:nth-child(2) {
    color: #009fff;
}

.pc-checkout-contactblock div:nth-child(2) i {
    padding-right: 10px;
}

.pc-checkout-footer {
    padding: 20px;
    background-color: white;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
}

.pc-loginpage-header {
    padding: 20px;
    background-color: white;
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.pc-newaccount-partorpro {
    display: flex;
    padding: 10px 3rem;
}

.pc-newaccount-partorpro div {
    padding: 10px 1rem;
    color: #e6572c;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid #e6572c;
    margin-right: 10px;
}

.pc-newaccount-partorpro div.active {
    background-color: #e6572c;
    color: white;
}

.pc-registration-company,
.pc-registration-vatnum {
    display: none;
}

body#authentication main {
    position: relative;
    padding-bottom: 5rem;
}

.pc-prolabelblock {
    padding: 10px 3rem;
}

.pc-prolabelblock p {
    color: #ef5f23;
    font-size: 12px;
    margin: 0px;
}

#authentication .custom-checkbox label {
    font-size: 12px;
    margin: 0px;
}

#authentication .form-footer {
    max-width: 500px;
    margin: 0px auto;
}


/* END authentication and register */


/* Footer */

.pc-block-newsletterinside {
    min-height: 211px;
    padding: 1rem;
    background-color: #4a4a4a;
    border-top: 3px solid #ef5f23;
}

.pc-block-newsletterinside .myaccount-title {
    display: flex;
}

.pc-block-newsletterinside .myaccount-title i {
    background-color: transparent;
    color: #f39d72;
    box-shadow: none;
    border: 0px;
    padding: 0 0 0 0.6rem;
    max-width: 35px;
}

.pc-block-newsletterinside .account-list {
    display: flex;
}

.pc-block-newsletterinside ul li {
    width: 100%;
}

.pc-block-newsletterinside li .input-wrapper {
    display: flex;
}

.pc-footer-social {
    display: flex;
    margin-top: 10px;
}

.pc-footer-social div {
    display: flex;
}

.pc-social-content a {
    padding-right: 5px;
    font-size: 22px;
    color: white;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
}


/* END Footer */


/* Checkout guest login */

.pc-checkoutpartorpro {
    display: flex;
}

.pc-checkoutpartorpro div {
    padding: 5px 10px;
    border: 2px solid #ef5f23;
    margin-right: 10px;
    color: #ef5f23;
    cursor: pointer;
}

.pc-checkoutpartorpro div.active {
    background-color: #ef5f23;
    color: white;
}


/* END Checkout guest login */

.product-price-and-shipping {
    position: relative;
}

#box-loginespaceprobtn {
    margin-top: 1rem;
    background-color: white;
}

.pc-product-regularprice {
    width: 50%;
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
}

.pc-product-price {
    position: absolute;
    bottom: 0;
    right: 0;
}

#pc-product-price_id {
    position: absolute;
    bottom: 0;
    right: 0;
}

.pc-product-regularprice span {
    width: 100%;
    display: block;
}

.pc-product-price {
    width: 50%;
    float: right;
}

.pc-product-price span {
    width: 100%;
    display: block;
}

.pc-prodprices {
    display: flex;
    margin: 0.2rem 0 1rem 0;
}

.pc-productdiscount {
    background-color: #ff5c5c;
    color: white;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.pc-pricedisplay {
    padding: 0.6rem;
    display: flex;
}

.pc-pricedisplay .product-discount {
    padding: 0.6rem;
}

.pc-pricedisplay .product-discount .regular-price {
    width: 100%;
    display: block;
}

.pc-pricedisplay .product-price {
    padding: 0.6rem;
}

.pc-pricedisplay .product-price .current-price span {
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: #ff5c5c;
}

.pc-navslogan {
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    padding: 10px 0px;
}

.pc-navmail {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 14px;
    padding: 0 1rem;
}

.pc-navmail i {
    padding-right: 10px;
}

.pc-navphone {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff !important;
    background-color: #ef5f23;
    padding: 0 1rem;
    text-decoration: none !important;
}

.pc-navphone i {
    padding-right: 10px;
}

.pc-displayflex {
    display: flex;
    align-items: center;
    /* overflow: hidden !important; */
}



@media screen and (max-width:767px) {
    .header-top>.container {
        width: 100%;
        padding: 0;
    }

    /* #iqitmegamenu-mobile .iqitmegamenu-accordion.showedmenu {
    padding: 0px;
}
#iqitmegamenu-mobile .iqitmegamenu-accordion li {
    padding: 0 12px;
}
#iqitmegamenu-accordion div.responsiveInykator {
    top: 5px;
}
#iqitmegamenu-accordion > li > div.responsiveInykator {
    top: 3px;
} */
    /* .cbp-hor-width-0 #iqitmegamenu-horizontal {
    margin: 0;
    padding: 0;
} */
}

.pc-nomargin {
    margin: 0px;
}

.pc-orderconfitems-scroll {
    max-height: 415px;
    overflow-y: scroll;
}

.pc-cartsumitems-scroll {
    max-height: 225px;
    overflow-y: scroll;
}

.product-description {
    position: relative;
}

.pc-prodaddtocart {
    width: 100%;
    float: left;
    margin-top: 10px;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pc-fullwidth {
    width: 100%;
}

.pc-aligncenter {
    text-align: center;
}

.tabs-block {
    padding: 0px;
}

#product .featured-products .product {
    width: 20%;
}

.pc-product-reviews {
    border: 1px solid #dfdfdf;
    margin-top: 3rem;
    padding: 1rem;
}

.pc-advertisement {
    width: 100%;
    margin-top: 10px;
}

.pc-footerblock-inside {
    min-height: 211px;
    padding: 1rem;
    background-color: #4a4a4a;
    border-top: 3px solid #ef5f23;
}

.pc-footerulblock li {
    width: 100%;
}

.pc-footerulblock li a {
    display: flex;
}

.pc-footerflags li {
    width: 100%;
}

.pc-footerflags li a {
    display: flex;
}

.pc-footerflags li a span {
    flex: 1;
    font-size: 18px;
}

.pc-livraisonp {
    display: flex;
    margin-top: 10px;
}

.pc-copyrightblock {
    display: flex;
}

.pc-copyright {
    margin: 0px;
    padding: 0.6rem;
    display: flex;
    align-items: center;
}

.pc-copyright-payements {
    margin: 0px;
    padding: 0.6rem;
    display: flex;
}

.pc-copyright-payements a {
    padding-right: 5px;
    width: 100%;
}

.pc-copyright-payements a img {
    padding: 5px;
    border-radius: 12px;
    float: right;
    max-width: 50px;
}

.pc-mobileheader {
    display: flex;
    align-items: center;
}

.pc-mobileheader #_mobile_logo {
    width: 100%;
}

#tab-content #description {
    display: flex;
}

#tab-content .product-description,
#tab-content #product-details {
    width: 100%;
    padding: 10px;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
    color: #333
}

h4,
.h4 {
    font-size: 16px;
}

h5,
.h5 {
    font-size: 15px;
}

h6,
.h6 {
    font-size: 14px;
}

.product-description h2,
.product-description h3,
.product-description h4,
.product-description h5,
.product-description h6 {
    margin-top: 1rem;
}

.pc-htwo_custom {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.03em;
    margin-bottom: 1rem;
    color: #ef5f23;
    margin-top: 0px !important;
}

.pc-prod_description {
    padding-left: 1rem;
}

.pc-prod_description ul li {
    font-size: .875rem;
    color: #333;
}

.product .product-thumbnail img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


/* Button go top */

#button_gotop {
    display: inline-block;
    background-color: #EF5F23;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 0px;
    left: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button_gotop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button_gotop:hover {
    cursor: pointer;
    background-color: #333;
}

#button_gotop:active {
    background-color: #555;
}

#button_gotop.show {
    opacity: 1;
    visibility: visible;
}

.product-reference,
#pc_getean13 {
    display: none;
}

#footer_account_list_newsletter .input-wrapper .btn-primary {
    max-width: 50px;
}

.pipecotableclass th {
    padding: 0px 10px;
    font-size: 14px;
}

.pipecotableclass td {
    padding: 10px;
    font-size: 13px;
}

#search_filters .facet ul {
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;
}

.product-minimal-quantity {
    font-size: 12px;
    float: left;
}

.breadcrumb li {
    font-size: 14px;
}

#category-description p {
    color: #777 !important;
}

#category-description strong {
    font-weight: bold !important;
    color: #333 !important;
}

.featured-products .product {
    width: 20%;
}

.homepg_destaqueimgs {
    display: flex;
}

.homepg_block {
    width: 50%;
}

.homepg_block a {
    overflow: hidden;
}

.homepg_block:first-child a {
    width: 100%;
    float: left;
}

.homepg_block:last-child a:last-child {
    width: 100%;
    float: right;
}

.category-cover {
    width: 100%;
    margin-bottom: 20px;
}

.home_cats_slider a {
    display: grid;
    padding: 5px;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.home_cats_title {
    position: static;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #000000cf;
    padding: 8px;
    color: white;
}

.home_cats_title:hover {
    background-color: #ef5f23;
}

.pc_imgswap_home {
    display: none;
}

.jsls_block a {
    border: 1px solid #8b8b8b;
}

.jsls_block a:hover {
    border: 1px solid #ef5f23;
}

.jsls_block a:hover .home_cats_title {
    background-color: #ef5f23;
}

.jsls_block a:hover .pc_imgswap_home {
    display: block;
}

.jsls_block a:hover .pc_mainimgswap_home {
    display: none;
}

.featured-products .all-product-link {
    margin-top: 0px;
    background-color: #3f4040;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.featured-products .all-product-link:hover {
    background-color: #ef5f23;
}

.offers_spn {
    top: 50%;
    font-size: 76px;
    font-weight: bold;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-60%);
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    color: white;
}

.homepg_destaqueimgs:hover .offers_spn {
    color: #ef5f23;
}

.pc_headerlivraisoninfo {
    float: right;
    background-color: #bfbfbf;
    color: #fff;
    margin-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px 10px;
}

.pc_respbotmenu {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    border-top: 2px solid #ef5f23;
    z-index: 9999999999;
}

.pc_respbotmenu span {
    font-size: 12px;
}

.pc_respbotmenu i {
    font-size: 20px;
}

.pc_respbotmenu div,
.pc_respbotmenu a {
    width: 25%;
    text-align: center;
    padding: 10px;
    line-height: 10px;
}

@media (max-width: 1100px) {
    .pc_headerlivraisoninfo {
        font-size: 12px;
    }
}

@media (max-width: 850px) {
    .pc_headerlivraisoninfo {
        display: none;
    }
}

@media (max-width: 480px) {
    html body .offers_spn {
        font-size: 18px;
    }
}

@media (max-width: 790px) {
    html .offers_spn {
        font-size: 32px;
    }

    .user-info .account span,
    .pc_carturl .pc-headercartspn {
        font-size: 12px;
    }
}

@media (max-width: 1180px) {
    .offers_spn {
        font-size: 54px;
    }
}

@media (max-width: 1399px) {
    #sec_img {
        display: none
    }
}

@media (max-width: 700px) {
    .homepg_destaqueimgs {
        display: block;
    }

    .homepg_block {
        width: 100%;
        padding: 0px !important;
    }

    .homepg_block a {
        padding: 15px 0px 0px 0px;
    }
}

@media (min-width: 500px) {
    #button_gotop {
        margin: 30px;
    }
}

@media screen and (max-width: 1160px) {
    #iqitmegamenu-horizontal {
        border: 0px;
    }
}

@media screen and (max-width: 1160px) {

    #products .product,
    .featured-products .product,
    .product-accessories .product,
    .product-miniature .product {
        width: 25%;
    }
}

@media screen and (max-width: 960px) {

    #products .product,
    .featured-products .product,
    .product-accessories .product,
    .product-miniature .product {
        width: 33.33%;
    }
}

@media screen and (max-width: 670px) {

    #products .product,
    .featured-products .product,
    .product-accessories .product,
    .product-miniature .product {
        width: 50%;
    }
}

@media (max-width: 850px) {
    #authentication #content-wrapper .page-content.card-block {
        display: block;
    }

    #authentication #content-wrapper .page-content.card-block .login-form {
        width: 100%;
        max-width: 850px;
    }
}

@media screen and (max-width: 440px) {

    #products .product,
    .featured-products .product,
    .product-accessories .product,
    .product-miniature .product {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 979px) {

    .pc-navslogan,
    .pc-navmail {
        font-size: 12px;
    }

    .pc-navphone {
        font-size: 12px;
        padding: 0 0.6rem;
    }

    .header-nav .right-nav {
        padding-right: 0px;
    }

    #_desktop_logo {
        padding-left: 0px;
    }

    #_desktop_user_info .user-info span,
    #_desktop_cart .pc_carturl .pc-headercartspn {
        padding-left: 5px;
    }

    #_desktop_user_info,
    #_desktop_cart {
        padding: 0px 5px;
    }

    #_desktop_user_info a span {
        font-size: 14px;
    }

    #_desktop_cart a span {
        font-size: 14px;
    }
}

#pull_searchmobile {
    padding: 15px 16px;
    background-color: #ff4e00;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.searchdisplayblockimp {
    display: block !important;
}

.mobile_menutoplinks {
    margin-top: 10px;
    width: 100%;
}

.mobile_menutoplinks a {
    color: #777;
    font-weight: 300;
    font-size: 14px;
    font-family: roboto;
}

.prix_degr_lbl_mobile {
    display: none;
}

.menu_headermobile {
    display: none;
}

.filters_black_bg {
    background-color: #0000008f;
    width: 100%;
    position: fixed;
    z-index: 99999;
    height: 100%;
    top: 0;
    left: 0;
}

.filters_black_bg:after {
    position: absolute;
    content: '\f00d';
    font-family: "FontAwesome";
    font-size: 36px;
    line-height: 30px;
    left: 10px;
    top: 17px;
    color: #fff;
    text-shadow: #fff;
}

.quickview .pc_imgprodgroup {
    display: none;
}

.quickview .product-cover {
    margin: 0px;
}

.quickview .modal-header {
    position: absolute;
    right: 0;
    z-index: 999999;
}

.quickview h1 {
    font-size: 18px;
    padding: 0px 15px;
}

.quickview .pc-pricedisplay {
    padding: 0px;
}

.quickview .pc-prodprices {
    margin-bottom: 10px;
}

.quickview .pc-productdiscount {
    padding-right: 10px;
}

.quickview .arrows,
.quickview #product-availability {
    display: none;
}

#blockcart-modal .product-image {
    margin: 0px auto;
}

#blockcart-modal .cart-content-btn {
    width: 100%;
}

#blockcart-modal .col-md-3,
#blockcart-modal .col-md-9,
#blockcart-modal .divide-right {
    padding: 0px;
}

#blockcart-modal .product-price {
    color: #ff4545;
    font-weight: bold;
    font-size: 16px;
}

.pc_avisprodpagetab {
    padding: 10px;
    margin-bottom: 1.563rem;
    border: 1px solid #dfdfdf;
    margin-top: 1rem;
}

#count-review-tab {
    border-radius: 50%;
    background-color: #ffa852;
    text-align: center;
    color: white;
    padding: 0px 7px;
}

#product .featured-products {
    max-width: 1390px;
    margin: 0px auto;
}

#product .featured-products h2,
#product .product-accessories h2 {
    padding: 10px 20px;
    color: #ef5f23;
    margin: 0px;
}

#product .featured-products .products {
    padding: 0px;
}

#product .pc_customeralsobought {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-color: #eee;
}

.product-accessories .products {
    padding-left: 0px;
    padding-right: 0px;
}

.product-accessories .product {
    width: 20%;
}

.destockage:hover img,
.homepg_destaqueimgs a:hover img {
    filter: brightness(115%);
}

#my-account .account_leftcol {
    width: 25%;
    background-color: #f4f4f4;
}

#my-account .links li,
#my-account .links li a {
    width: 100%;
}

#my-account .breadcrumb {
    display: none;
}

.account_usershortcuts {
    display: flex;
    color: #7a7a7a;
    align-items: center;
    margin-top: 25px;
}

.account_usershortcuts div {
    flex: 1;
    text-align: center;
}

.account_usershortcuts div i {
    font-size: 36px;
    margin-bottom: 10px;
}

#my-account #content .row {
    display: flex;
    border: 1px solid #bfbfbf;
}

.pc_accountcontentblock {
    width: 75%;
    padding: 20px;
}

.pc-product-price .price {
    display: flex;
    padding-right: 15px;
    font-size: 12px;
}

.pc-product-price .price .pc_finalprodprice {
    width: auto;
    margin-left: auto;
    padding-right: 5px;
    font-size: 15px;
}

#pc-product-price_id .price {
    display: flex;
    padding-right: 15px;
}

#pc-product-price_id .price .pc_finalprodprice {
    width: auto;
    margin-left: auto;
    padding-right: 5px;
    font-size: 15px;
}

.pc_discpriceplusnormalprice section:nth-of-type(2) {
    display: none !important;
}

#_desktop_user_info .dropdown-menu {
    margin-top: -20px;
}

#_desktop_user_info .dropdown-item {
    padding: 5px 15px;
}

#_desktop_user_info .dropdown-item i {
    padding-right: 10px;
}

.product-discounts>.product-discounts-title {
    font-weight: 700;
    margin: 0 0 10px;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 1320px) {
    .pc-product-price .price .pc_finalprodprice {
        font-size: 13px;
    }

    .pc-product-price .price {
        font-size: 11px;
    }

    .pc-product-price .price {
        padding-right: 5px;
    }

    #products .regular-price,
    .featured-products .regular-price,
    .product-accessories .regular-price,
    .product-miniature .regular-price {
        font-size: 12px;
    }
}

@media (max-width: 1250px) {

    #products .product,
    .product-accessories .product,
    .product-miniature .product {
        width: 33.33%;
    }
}

@media (max-width: 930px) {

    #products .product,
    .product-accessories .product,
    .product-miniature .product {
        width: 50%;
    }
}

@media (max-width: 860px) {

    .register-form,
    .proaccountinfo {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .filters_black_bg {
        display: none;
    }

    .pr-7-5 {
        padding-right: 7.5px !important;
    }

    .pl-7-5 {
        padding-left: 7.5px !important;
    }
}

@media (max-width: 768px) {
    .pc_accountcontentblock {
        display: none;
    }

    #my-account #content .row {
        display: block;
    }

    #my-account .account_leftcol {
        width: 100%;
    }

    .reviews_list_stars {
        position: initial;
        justify-content: right;
        padding-right: 10px;
    }

    #checkout .block-promo .promo-input {
        width: 100%;
    }

    #js-checkout-summary {
        background-color: white;
        border: 1px solid #e5e5e5;
    }

    #checkout .label,
    label {
        text-align: left;
    }

    #checkout .form-control-comment {
        font-size: 10px;
    }

    .destockage {
        display: none;
    }

    #header .pc-checkout-logo img {
        width: calc(100% - 160px);
        padding-left: 90px;
    }

    #product .product-accessories {
        display: none;
    }

    .pc-block-myaccountinfo,
    .pc-footerblock-inside,
    .pc-block-newsletterinside {
        margin-bottom: 10px;
    }

    .footer-container {
        padding-top: 0px;
    }

    .pc_customeralsobought .featured-products {
        display: block;
    }

    #product .featured-products .product {
        width: 50%;
    }

    #product .pc-prodprices,
    #product .product-variants-item {
        margin-bottom: 5px;
    }

    .product-variants-item,
    .product-variants-item select,
    .product-add-to-cart .control-label {
        font-size: 12px;
    }

    #product .col-md-6,
    #product #tab-content {
        padding: 0px;
    }

    #product #pc_tabs {
        margin-top: 0px;
    }

    #product .pc-pricedisplay {
        padding: 0px;
    }

    #product .product-discount {
        padding-right: 0px;
    }

    #blockcart-modal .cart-products-count {
        font-size: 14px;
    }

    #blockcart-modal .cart-content {
        padding-left: 0;
        padding-top: 5px;
        border-top: 1px solid #6c868e;
        margin-top: 5px;
    }

    #blockcart-modal .pc_cartmodal_property,
    #blockcart-modal .product-quantity,
    #blockcart-modal #myModalLabel,
    #blockcart-modal .product-quantity,
    #blockcart-modal .cart-content p #blockcart-modal .cart-content p label {
        font-size: 12px;
    }

    #blockcart-modal .modal-header {
        padding: 8px;
    }

    #blockcart-modal .product-price {
        color: #ec3131;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 3px;
    }

    #blockcart-modal br {
        display: none;
    }

    #blockcart-modal #myModalLabel i {
        margin-right: 5px;
    }

    #blockcart-modal .product-name,
    #product-availability {
        font-size: 16px;
    }

    #blockcart-modal .btn-primary {
        align-items: center;
        display: flex;
    }

    .quickview .pc-prodprices,
    .quickview .product-variants>.product-variants-item {
        margin-bottom: 5px;
    }

    .product-variants-item {
        display: inline-block;
    }

    .quickview h1 {
        font-size: 16px;
        text-align: center;
    }

    .quickview #product-description-short,
    .quickview .arrows,
    .quickview #product-availability {
        display: none;
    }

    .quickview .control-label,
    .quickview .form-control {
        font-size: 12px;
    }

    .quickview select.form-control:not([size]):not([multiple]) {
        height: calc(2rem - 2px);
    }

    #subcategories li {
        width: 50%;
        padding: 5px;
    }

    #subcategories li a h5 {
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        color: #777;
        text-decoration: none;
        padding-left: 10px;
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 42px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .pagination .col-md-4 {
        padding: 0px;
        font-size: 12px;
    }

    .pagination .col-md-6 {
        padding: 0px;
        font-size: 14px;
    }

    .faceted-slider {
        max-width: 250px;
    }

    .brands-sort .select-title,
    .products-sort-order .select-title,
    .suppliers-sort .select-title {
        font-size: 12px;
        padding: 3px 10px;
    }

    #search_filter_toggler {
        padding: 8px;
        font-size: 12px;
    }

    #category #left-column #search_filters .facet ul li {
        padding: 2px 5px;
    }

    .facet-title {
        font-weight: normal;
        text-transform: initial !important;
    }

    .block-category {
        padding: 0px;
    }

    h1,
    .h1 {
        font-size: 18px;
    }

    #category-description p,
    .pc_numberofprodsperpage {
        font-size: 12px;
    }

    #search_filters_wrapper {
        position: fixed;
        z-index: 999999;
        right: 0;
        height: 100%;
        width: 80%;
        top: 0;
        background-color: white;
        max-width: 350px;
        overflow-x: hidden;
        transition: all 0.3s;
        box-sizing: border-box;
    }

    #search_filter_controls {
        margin: 0px;
    }

    .product-variants {
        display: block;
    }

    .prix_degr_lbl {
        display: none;
    }

    .prix_degr_lbl_mobile {
        display: inline;
    }

    #left-column #testimonials_block_left {
        display: none;
    }

    #search_widget {
        position: fixed;
        left: 0;
        top: 0%;
        display: block;
        z-index: 999;
        margin: 0px !important;
        height: 100%;
        background-color: #0000007d;
        width: 100% !important;
        display: none;
    }

    #search_widget form {
        position: absolute;
        top: 50%;
    }

    #search_widget input {
        width: 100% !important;
    }

    .pc_respbotmenu {
        display: flex;
        max-width: 100vw;
    }

    #chatra,
    #button_gotop {
        display: none !important;
    }

    #header .header-nav .user-info .account {
        margin-left: 0px;
    }

    .pc_leftcolads {
        display: none;
    }

    #header .header-nav .cart-preview.active {
        background: #e6572c;
    }

    #product .featured-products {
        display: none;
    }

    .panc_prodleftcolimage {
        margin-bottom: 1rem;
        padding-right: 0px;
    }

    #tab-content #description {
        display: block;
    }

    .pc-copyright,
    .pc-copyright-payements {
        width: 100%;
        flex: 0 1 100%;
    }

    footer .links .collapse {
        display: none;
    }

    .pc-block-myaccountinfo,
    .pc-footerblock-inside,
    .pc-block-newsletterinside {
        min-height: 0px;
        padding: 0;
        margin-bottom: 20px;
    }

    footer .title {
        color: white;
    }

    .header-top {
        display: flex;
        /* overflow: hidden !important; */
        position: relative;
    }

    #_mobile_logo {
        text-align: center;
    }

    #header .header-nav .top-logo {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #header .header-nav .user-info {
        margin-top: 0px;
        padding: .75rem;
        background-color: #e6572c;
    }

    #header .header-nav .user-info i,
    #header .header-nav .blockcart i {
        color: white !important;
    }

    #header .header-nav .blockcart {
        background-color: #e6572c;
        margin-left: 0.6rem;
    }

    #header .header-nav #menu-icon .material-icons {
        font-size: 32px;
        color: #e6572c;
    }
}

@media (max-width: 992px) {
    #contact .container .pc-contactinfoblocks .col-lg-4 {
        padding: 10px;
        margin-bottom: 2rem;
        border: 1px solid #b5b5b5;
    }
}

@media (max-width: 540px) {

    #products .product,
    .product-accessories .product,
    .product-miniature .product {
        width: 100%;
    }

    #products .thumbnail-container,
    .featured-products .thumbnail-container,
    .product-accessories .thumbnail-container,
    .product-miniature .thumbnail-container {
        width: 100%;
        border-radius: 0px 0px 10px 10px !important;
    }

    #products .thumbnail-container .product-thumbnail img,
    .featured-products .thumbnail-container .product-thumbnail img,
    .product-accessories .thumbnail-container .product-thumbnail img,
    .product-miniature .thumbnail-container .product-thumbnail img {
        width: 100%;
        border-radius: 0px;
    }

    #products .thumbnail-container .product-thumbnail,
    .featured-products .thumbnail-container .product-thumbnail,
    .product-accessories .thumbnail-container .product-thumbnail,
    .product-miniature .thumbnail-container .product-thumbnail {
        width: 50%;
        float: left;
    }

    #products .product-description,
    .featured-products .product-description,
    .product-accessories .product-description,
    .product-miniature .product-description {
        width: 50%;
        float: left;
    }

    article #add-to-cart-or-refresh {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        border-radius: 0px !important;
    }

    article #add-to-cart-or-refresh button {
        font-size: 11px;
    }

    .pc-product-price,
    .pc_prixdegrhover,
    #products .regular-price,
    .featured-products .regular-price,
    .product-accessories .regular-price,
    .product-miniature .regular-price {
        font-size: 12px;
        width: 100%;
    }

    #products .product-title,
    .featured-products .product-title,
    .product-accessories .product-title,
    .product-miniature .product-title {
        margin-top: 0px;
    }
}

.title-box {
    text-align: right;
    font-weight: bold;
    width: 50%;
    padding: 10px;
}

.trow {
    height: 30px;
}

.product-delivery-min {
    font-weight: 500;
    font-size: 11px;
    cursor: pointer;
    background: #fff;
    padding: 1px;
    margin: 0 5px;
    height: 24px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    width: min-content;
    min-width: 92px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #e84a39;
    color: #e84a39;
}

.product-delivery-min img {
    border-radius: 0 !important;
}

.product-delivery-min span {
    width: max-content;
    display: block;
}

.product-delivery {
    font-weight: bold;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
}

.product-delivery-min.speed-12-24h {
    border: 1px solid #43ae60;
}

.product-delivery-min.speed-1-3 {
    border: 1px solid #038003;
}

.product-delivery-min.speed-3-8 {
    border: 1px solid #f39d0e;
}

.product-delivery-min.speed-3-10 {
    border: 1px solid #e84a39;
}

.speed-12-24h {
    color: #43ae60;
}

.speed-1-3 {
    color: #038003;
}

.speed-3-8 {
    color: #f39d0e;
}

.speed-3-10 {
    color: #e84a39;
}

@media (max-width: 540px) {
    .right {
        left: 100px;
        position: relative !important;
    }
}

.pc-navphone .call-num {
    border-right: 1px solid;
    margin-right: 10px;
    padding-right: 10px;
}

.call-cost {
    font-size: 11px;
}

.pt-15 {
    padding-top: 15px !important;
}

#search_filters .ui-slider-horizontal {
    width: 98.4%;
}

#search_filters .facet ul {
    min-height: 50px;
}

.align-right {
    text-align: right;
}

#order-detail .box.messages {
    border: none;
    background: none;
}

#order-detail .box.messages>div {
    display: flex;
    max-height: 400px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: auto;
    -webkit-overflow-scrolling: touch;
    flex-direction: column-reverse;
}

#order-detail .box.messages .message-text {
    padding: 20px;
    margin-bottom: 5px;
    color: #000;
}

#order-detail .box.messages .customer .message-text {
    background-color: #fddfc2;
    border-radius: 10px 0px 10px 10px;
}

#order-detail .box.messages .employee .message-text {
    background-color: #edeae8;
    border-radius: 0px 10px 10px 10px;
}

#order-detail .box.messages .employee .arrow-left {
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #edeae8;
    border-left: 0;
    position: absolute;
    left: 0;
    display: block;
    top: 0;
}

#order-detail .box.messages .customer .arrow-right {
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fddfc2;
    border-right: 0;
    position: absolute;
    right: 0;
    display: block;
    top: 0;
}

.page-order-detail .messages .message {
    margin-top: .5rem;
    width: calc(100% - 0px);
    margin-left: 0;
}

label .color {
    width: 38px;
    height: 38px;
}

label .color.active,
.input-color:checked+span {
    border: 0;
}

label .color:hover,
.input-color:hover+span {
    border: 2px solid green;
}

.input-color+.color .fa-check {
    display: none;
}

.input-color:checked+.color .fa-check {
    display: unset;
    position: absolute;
    color: green;
    font-size: 25px;
    top: 0;
    right: -5px;
}

.product-flags .product-flag {
    position: relative;
    top: 12px;
    left: -3px;
    font-size: 1.5rem;
    rotate: -45deg;
    width: 60px;
    font-weight: 600;
}

.product-flags .product-flag.new {
    top: 19px;
    font-size: 1rem;
    width: 75px;
}

.product-flags .flag-label {
    color: #ff0000;
    padding: .3125rem 0;
    text-align: center;
}

.product-flags .product-flag.discount,
.product-flags .product-flag.discount-amount,
.product-flags .product-flag.discount-percentage {
    color: #fed700;
    background-color: #fed700;
}

.product-flags .product-flag.new {
    color: #ff0000;
    background-color: #ff0000;
}

.product-flags .product-flag.new .flag-label {
    color: #ffffff;
}

.product-flags .arrow-left {
    width: 0;
    height: 0;
    border-bottom: 0 solid transparent;
    border-top: 30px solid transparent;
    border-right: 30px solid;
    position: absolute;
    left: -29px;
}

.product-flags .arrow-right {
    width: 0;
    height: 0;
    border-bottom: 0 solid transparent;
    border-top: 30px solid transparent;
    border-left: 30px solid;
    position: absolute;
    right: -29px;
}


/* Logo do fabricante na página de produto, em especificações técnicas */


/* Ajuste para alinhar a imagem do fabricante à direita */

.product-manufacturer {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center;
}


/* Garante que regras anteriores não afetem o layout */

.product-manufacturer img {
    float: none !important;
    margin-left: auto !important;
    margin-right: 10px !important;
    margin-bottom: 15px !important;
    max-width: 120px !important;
    max-height: unset !important;
    /* Remove qualquer limitação de altura */
    height: auto !important;
    /* Garante que a altura seja ajustada proporcionalmente */
    border: none !important;
}



/* Reparação do espaço em branco abaixo do header */
#wrapper {
    margin-top: 0.3px !important;
}

/* Mudar a cor da barra do topo */
nav.header-nav {
    background-color: #ef5f23 !important;
}

/* Mudar a cor do texto da barra do topo */
nav.header-nav,
nav.header-nav a,
nav.header-nav .pc-navslogan,
nav.header-nav .pc-navmail,
nav.header-nav .pc-navphone,
nav.header-nav .call-num,
nav.header-nav .call-cost {
    color: #ffffff !important;
}

/* Botão "Contacte-nos" */
.contact-button {
    background-color: #ef5f23;
    color: #ffffff;
    padding: 2px 16px !important;
    border-radius: 10px !important;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid #ffffff;
}

/* Botão "escolher ficheiro" */
.group-span-filestyle label.btn.btn-default {
    background-color: #ef5f23;
    color: white;
    border-color: #ef5f23;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.group-span-filestyle label.btn.btn-default:hover {
    background-color: #ef5f23d0;
    border-color: #ef5f23d0;
    color: white;
}

/* Esconder texto antigo "optionnel" e colocar um novo (optionnel) */
.col-md-3.form-control-comment {
    visibility: hidden;
    position: relative;
}

.col-md-3.form-control-comment::before {
    content: "(optionnel)";
    visibility: visible;
    position: absolute;
    left: 0;
    top: 8px;
}

/* Alterar tamanhos de "Nº Azur" */
.pc-bluenrect span:first-child {
    font-weight: normal;
    font-size: 20px;
}

/* Alterar o fundo do n.º azul */
.pc-bluenrect span:last-child {
    background-color: #00adee;
    color: white;
    border-color: #00adee;
    font-weight: bold;
    font-size: 24px;
}

/* Escoder bloco social */
.block-social {
    display: none !important;
}

/* Reparação da desformatação do header ao dar scroll */
#_desktop_logo {
    width: auto !important;
}

#_desktop_logo .logo {
    max-height: 80px !important;
    width: auto !important;
}