<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>glsshipping</name>
	<displayName><![CDATA[GLS Shipping]]></displayName>
	<version><![CDATA[3.2.10]]></version>
	<description><![CDATA[Módulo de gestión de envíos con GLS]]></description>
	<author><![CDATA[GLS]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
