/*css popup header hook*/

.popup_cart {
    display: none;
}

.ghide {
    display: none;
}

.popup_cart_wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

.popup_cart-content {
    background-color: #FFFFFF;
    border-radius: 3px;
    position: relative;
    margin: 30px auto;
    text-align: center;
    z-index: 25;
}

.popup_cart-content-close {
    top: 15px;
    right: 15px;
    border-left: 55px solid transparent;
    -webkit-background-size: 0 0!important;
    background-size: 0 0!important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0!important;
    position: absolute!important;
    background-color: transparent!important;
    overflow: visible!important;
}

.g_copied {
    position: absolute;
    z-index: 10;
    right: 10%;
    top: 5%;
}

.popup-scn-text {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    margin: 0 0 20px;
    font-weight: bold;
}

.popup_cart-content-close>button {
    width: 20px;
    height: 20px;
}

.popup-message {
    line-height: 25px;
    font-size: 14px;
    margin: 0 0 20px;
}

.show_Description2 {
    font-size: 14px;
}

.menu_link_sosical-views {
    padding: 15px 0;
    margin: 0;
    text-align: center;
}

.menu_link_sosical-views>li {
    display: inline-block;
    vertical-align: top;
    height: 20px;
    overflow: hidden;
    margin: 5px 15px;
    position: relative;
    float: none;
    cursor: pointer;
    text-align: center;
}

.show-code {
    width: 100%;
    height: 105px;
    margin: 0 0 15px;
}

.code-views {
    text-align: center;
}

.code-views>span {
    margin-top: 15px;
    padding: 41px 3px 36px 3px;
    text-align: center;
    line-height: 84px;
    background: 0 0;
    position: relative;
    border: none;
    overflow: hidden;
    border: dashed 1px #D4D5D7;
}

.code-views>span .code-views-copy {
    font-size: 20px;
    text-align: center;
    line-height: 84px;
    background: 0 0;
    border: none;
    background: #BFE6F6;
    overflow: hidden;
    width: 65%;
    border: dashed 1px #D4D5D7;
}

.code-views>span:before {
    background: url(../../../img/cut.png) no-repeat;
    height: 22px;
    left: -10px;
    padding-left: 0px;
    width: 22px;
    top: -10px;
    content: '';
    position: absolute;
    z-index: 2;
}

.popup-gimg {
    float: left;
    margin-right: 20px;
    border: 1px solid #E7E7E7;
}

.popup-conten_product {
    font-weight: normal;
    overflow: hidden;
    padding: 0px 0px 10px 0px;
    position: relative;
}

.popup-gtitleall_product {
    height: 80px;
    text-align: left;
}

.popup-gtitleall_product>a {
    font-weight: bold;
}

.popup-gtitleall_product>span {
    line-height: 23px;
    margin-bottom: 0;
}

.gshow_totall {
    text-align: left;
    padding: 0px 0 15px 0px;
}

.gshow_totall>span {
    line-height: 23px;
    margin-bottom: 0;
}

.popup-gbutton_checkout {
    margin: 15px 0px;
}

.popup-gbutton_checkout>.popup-gbuttonlink_checkout {
    font-size: 18px;
    padding: 15px 20px;
}


/*css bar in hook header*/

.bar_cart_header-bar {
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2147483647;
    background: red;
    text-align: center;
    cursor: pointer;
}

.action-button-hihe {
    right: 0;
    top: 0;
    float: right;
    display: inline-block;
    width: 3%;
    height: 25px;
}

.action_close {
    right: 0;
    top: 0;
    list-style: none;
    margin: 0;
    position: relative;
    float: right;
    padding: 0;
    display: inline-block;
    height: 25px;
    border-top: 25px solid #a3c3e0;
    border-left: 30px solid transparent;
}

.action_close svg {
    font-size: 15px;
    line-height: 15px;
    top: -23px;
    position: absolute;
    right: 2px;
    width: 10px;
    height: 10px;
}

.title-bar-center {
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    min-height: 30px;
    min-width: 97%;
    max-width: 97%;
}

.title-bar-center>a {
    color: #4EA2B9;
}

.popup-scn-text>a {
    color: #4EA2B9;
}

.popup-message>a {
    color: #4EA2B9;
}

.gcartextra-countdown .gcartextra-countdown-item {
    max-width: 100%;
    margin-top: 1.25rem;
    margin-left: 1.25rem;
}

.gcartextra-countdown-item1 {
    display: flex;
}

.gcartcontent-countdown {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gcartcontent-countdown-tiem {
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 5rem;
    height: 5rem;
    display: flex;
    overflow: hidden;
    background: #000000;
    text-align: center;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
}

.gcartcontent-countdown-tiem p {
    font-size: 2.625rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin: 0;
}

.gcartcontent-countdown-tiem-minslabel,
.gcartcontent-countdown-tiem-SECSlabel {
    color: rgb(255, 255, 255);
}

.gcartextra-countdown-demiter {
    padding: 15px;
}

.gcartextra-countdown-demiter p {
    font-size: 2.625rem;
    font-family: Arial;
    font-weight: 600;
    line-height: 2.75rem;
}

.gcartextra-countdown-demiter p span {
    color: rgb(33, 43, 54);
}

.gcartcontent-countdown-label {
    font-size: 0.75rem;
    margin-top: 0.5rem;
    font-weight: 600;
    line-height: 1.23;
}