.fixed-width-xl { min-width: 250px !important; width: auto !important; }
.multiple_select.fixed-width-xl { min-height: 200px !important; }

select { width: 100px; }
input[type="text"] { width: 150px !important; }
input[name^=name] { width: 300px !important; }

input#orders_date_from { width: 100% !important; }
input#orders_date_to { width: 100% !important; }

input.search_select { width: 100% !important; }
input.filter { width: 100% !important; text-align: center;}

.time-column {
    width: auto;
    height: 20px;
    display: block;
}

.time-column.valid-date-icon { color: #72c279; }
.time-column.future-date-icon { color: #f3e838; }
.time-column.expired-date-icon { color: #e08f95; }

.time-column [class^="icon-"] { font-size: 18px !important; }


.dayContainer {
    float: left;
    line-height: 20px;
    margin-right: 8px;
    width: 80px !important;
    font-size: 11px;
    font-weight: bold;
}

.colorBox {
    cursor: pointer;
    height: 45px;
    border: 2px solid #888;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.colorBox.WorkingDayState {
    border: 2px solid #4E8059;
    background-color: #8ade8f;
}

.colorBox.RestDayState {
    border: 2px solid #7a1c44;
    background-color: #de5962;
}

.operationTime .mini-time {
    width: 60px;
    padding: 2px !important;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

.operationTime .input-group-addon {
    padding: 5px !important;
}

.dayContainer .add-on {
    padding: 4px 2px;
}

.colorBoxLabel {
    clear: both;
    font-size: 12px;
    font-weight: bold;
}

.invisible {
    visibility: hidden;
}

/* schedule */

.dayContainer .weekday { text-align: center; }
.operationTime [class^="icon-"]:before, [class*=" icon-"]:before { margin: 0px !important;}

.operationTime {
    margin-top: 5px;
}

.operationTime .mini-time{
    width: 100% !important;
}
.ui-timepicker-wrapper{overflow-y:auto;max-height:150px;width:6.5em;background:#fff;border:1px solid #ddd;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);outline:0;z-index:10001;margin:0}.ui-timepicker-wrapper.ui-timepicker-with-duration{width:13em}.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60{width:11em}.ui-timepicker-list{margin:0;padding:0;list-style:none}.ui-timepicker-duration{margin-left:5px;color:#888}.ui-timepicker-list:hover .ui-timepicker-duration{color:#888}.ui-timepicker-list li{padding:3px 0 3px 5px;cursor:pointer;white-space:nowrap;color:#000;list-style:none;margin:0}.ui-timepicker-list:hover .ui-timepicker-selected{background:#fff;color:#000}li.ui-timepicker-selected,.ui-timepicker-list li:hover,.ui-timepicker-list .ui-timepicker-selected:hover{background:#1980EC;color:#fff}li.ui-timepicker-selected .ui-timepicker-duration,.ui-timepicker-list li:hover .ui-timepicker-duration{color:#ccc}.ui-timepicker-list li.ui-timepicker-disabled,.ui-timepicker-list li.ui-timepicker-disabled:hover,.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled{color:#888;cursor:default}.ui-timepicker-list li.ui-timepicker-disabled:hover,.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled{background:#f2f2f2}