ul.fwk-typewatch {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
ul.fwk-typewatch.nostyle {
  list-style: none;
  padding: 0;
}
ul.fwk-typewatch li {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  border: 1px solid #bbcdd2;
  padding: 0.3125rem !important;
  margin-top: 5px;
}
ul.fwk-typewatch li img {
  width: 50px;
}
ul.fwk-typewatch li .title {
  display: inline-block;
  float: none;
}
ul.fwk-typewatch li > .media-left img {
  max-width: 50px;
  max-height: 50px;
}
ul.fwk-typewatch li > .media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
ul.fwk-typewatch li > .media-body .label {
  margin-left: 0.3125rem !important;
  color: #363a41;
}
ul.fwk-typewatch li > .media-body i.delete {
  float: right;
  color: #6c868e;
  cursor: pointer;
}
ul.fwk-typewatch .pack {
  padding: 0;
}
ul.fwk-typewatch .pack li {
  width: 200px;
  border: 1px solid #eee;
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}
ul.fwk-typewatch .pack li img {
  width: 100%;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}
ul.fwk-typewatch .pack li span {
  display: inline-block;
  width: 100%;
  padding: 0 5px;
}
ul.fwk-typewatch .pack li .title,
ul.fwk-typewatch .pack li .ref {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
ul.fwk-typewatch .pack li .quantity,
ul.fwk-typewatch .pack li .ref {
  color: #ccc;
}
ul.fwk-typewatch .pack li .delete {
  position: absolute;
  right: 2px;
  top: 2px;
  display: none;
}
ul.fwk-typewatch .pack li:hover {
  border: 1px solid #00aff0;
}
ul.fwk-typewatch .pack li:hover .delete {
  display: block;
}
