#showdemorevews{
    border: 1px solid #ECECEC;
    max-height: 355px;
}
.show-icon{
    min-height: 115px !important;
    min-width: 115px !important;
    max-height: 115px !important;
    max-width: 115px !important;
}
.button-notification {
    min-height: 35px !important;
    padding: 10px !important;
    border-top: 1px solid #ECECEC;
    font-size: 15px;
    display: none;
}
.title-shownotiction{
    font-size: 15px;
    margin: 10px;
}
.message-shownotiction{
    margin: 10px;
}
.domain-shownotiction{
    margin: 10px;
    color: #BEC0C8;
}
.translatable-field {
    padding-top: 5px;
}