/* CSS Document */

#ppbs_widget.card {
	border:1px solid #ccc;
	background-color:#fff;
}

#our_price_display {
}

.unit-price { font-size:14px; color:#111;}
#unit_price_display { font-size:22px; color:#111;}

#ppbs_widget {
	padding: 20px 20px;
	background-color:#f6f6f6;
	margin: 0 0 0 0;

	.conversion-units {
		.convert-unit {
			display: inline-block;
			padding: 0 10px;
			height: 30px;
			line-height: 25px;
			text-align: center;
			border:1px solid #2fb5d2;
			border-radius: 3px;
			min-width: 60px;
			color: #2fb5d2;
			cursor: pointer;
			margin-bottom: 10px;
		}

		.selected {
			border-color:#2fb5d2;
			background-color:#2fb5d2;
			color:#fff;
			font-weight: bold;
		}
	}

	.ppbs-widget-container {
		display: flex;
		flex-direction: row;
	}

	.ppbs-price-wrapper {
		flex-grow: 100;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.field-image-wrapper {
		display: inline-block;
		position: relative;
		top: -1px;
		cursor: pointer;

		span {
			font-size: 12px;
			background-color:#777;
			border-radius: 10px;
			display: inline-block;
			color:#fff;
			width: 16px;
			height: 16px;
			text-align: center;
			line-height: 16px;
			font-weight: bold;
		}

		img {
			display: none;
			position: absolute;
			top:30px;
			z-index: 99;
			padding: 10px;
			border:2px solid #444;
			background-color:#fff;
			transform: translate(-30%, 0%);

			@media only screen and (max-width: 767px) {
			}
		}
	}

	.field-image-wrapper:hover {
		img {
			display: block;
		}
	}

	.unit-entry label {
		text-align: right;
		display: inline-block;
	}

	.unit-entry {

		display: flex;
		flex-direction: row;
		margin-bottom: 10px;

		.field-label-wrapper {
			flex-grow:100;
			line-height: 30px;
		}

		.field-input-wrapper {
			padding-left: 10px;
		}

		select, input[type='text'] {
			min-width:70px;
			width: 70px;
			height: 30px;
			line-height: 30px;
			padding: 5px;
			border-radius: 4px;
			border:1px solid #ddd;
			text-align: right;
		}
	}

	#ppbs-price {
		font-size:30px;
		width: 100%;
		text-align: center;
		display: block;
	}

	#ppbs-area-price,
	#ppbs-total-area {
		margin-top: 5px;
		display: block;
		width: 100%;
		text-align: center;
	}

	#ppbs-total-area {
		margin-top: 0px;
		font-size: 11px;
	}

}

	#ppbs_widget input.error, #ppbs_widget select.error {
		border:2px solid #aa0000;
		color:#aa0000;
		outline:none;
	}

	#ppbs_widget .unit-entry {
		position:relative;
		clear: both;
	}

	#ppbs_widget .error-unit {
        display: inline-block;
		background-color:#bf400d;
		color:#fff;
		padding:3px 4px;
		border-radius:4px;
		position: absolute;
		left: 100%;
		top: 0;
		white-space: nowrap;
		z-index:100;
	}

	#ppbs_widget .ppbs_error {
		color:#fff;
		font-weight:bold;
		background-color:#bf400d;
		margin:5px 0;
		padding:5px;
		border-radius:4px;

	}

span.ppbs_unit_price_suffix {
	font-size:16px;
	padding-left:0px;
	padding-right:4px;
}

#our_price_display,
.our_price_display {
	font-size:22px;
}


@media only screen and (max-width: 767px) {

	#ppbs_widget {
		display: block;
	}

}