<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>panc_multitracking</name>
	<displayName><![CDATA[Multi Tracking]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Multi Tracking code on order page view admin]]></description>
	<author><![CDATA[PANC]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
