#area form {
    border: 1px solid #CCC;
    background-color: white;
    padding: 1rem;   
}

#formulario {
    float: left;
    width: 33.33%;
}

#num_vols {
    float: left;
    margin-left: 10px;
    width: 25%;
}

#area label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    text-align: left;
    width:100%;
}

#area #volumes {
    padding: 5px;
    height: 31px;
    width: 100%;
    text-align: center;
    max-width: 50px;
}

#area select{
    text-align: center;
}

.botao{
    margin-left: 115px;
}

#area input, #area textarea {
    font: 1em sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 5px;
}

#area input:focus, #area textarea:focus {
    border-color: #000;
}

#area textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
/* 
#area button {
    background-color: #313333;
    border-radius: 8px;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

#area button:hover{
    background-color: #050505;
} */

.print{
    display: none;
    max-width: 400px;
}

.botao1{
    display: none;
    position: relative;
    margin: 0 auto;
    float: right;
}

.clone{
    margin-bottom: 20px;
}


#vol_me1 {
    padding: 0px 10px;
    border: 1px solid #999;
    font-size: 22px;
    margin-right: 5px;
    vertical-align: middle;
}

#vol_ma1 {
    padding: 0px 10px;
    border: 1px solid #999;
    font-size: 22px;
    margin-left: 5px;
    vertical-align: middle;
}