@charset "UTF-8";
/**
 *
 * Framework
 *
 * @author Presta-Module.com <support@presta-module.com>
 * @copyright Presta-Module
 *
 *           ____     __  __
 *          |  _ \   |  \/  |
 *          | |_) |  | |\/| |
 *          |  __/   | |  | |
 *          |_|      |_|  |_|
 *
 ****/
#module_form [data-copy] {
  cursor: pointer;
}
#module_form .mb-0 {
  margin-bottom: 0;
}
#module_form .mb-1 {
  margin-bottom: 1rem;
}
#module_form .bg-white {
  background-color: white;
}
#module_form .bg-black {
  background-color: #363A41 !important;
  color: white !important;
}
#module_form .fa-2x {
  font-size: 1.8em;
}
#module_form .search.search-with-icon {
  position: relative;
}
#module_form .search.search-with-icon input {
  display: block;
  width: 100%;
  height: 2.188rem;
  padding: 0.375rem 0.4375rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #363a41;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bbcdd2;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  padding-right: 1.6rem;
}
#module_form .search.search-with-icon input:focus {
  background-color: #f4fcfd;
  color: #363a41;
  border-color: #7cd5e7;
  outline: 0;
}
#module_form .search.search-with-icon::after {
  display: inline-block;
  font-family: "Material Icons", Arial, Verdana, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  vertical-align: middle;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  content: "î¢¶";
  position: absolute;
  top: 50%;
  right: 0.3125rem;
  margin-top: -0.6875rem;
  font-size: 1.375rem;
  font-weight: 400;
  color: #6c868e;
}
#module_form .label-tooltip strong {
  background-color: #EDF7FB;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #D8EDF7;
  border-radius: 3px;
  color: #3586AE;
  font-size: 13px;
  padding: 0 5px;
  text-decoration: none;
}

.modal.btpm .bg-white {
  background-color: white;
}
.modal.btpm .clr_10 {
  height: 10px !important;
}
.modal.btpm .clr_20 {
  height: 20px !important;
}
.modal.btpm .clr_30 {
  height: 30px !important;
}
.modal.btpm .text-success {
  color: #72C279 !important;
}
.modal.btpm .container {
  width: 100%;
}
.modal.btpm .info h4 {
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.modal.btpm .info p {
  color: #717171;
  font-size: 16px;
  padding-top: 10px;
}
.modal.btpm .info.success {
  margin-top: 55px;
}
.modal.btpm .box {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  text-align: right;
  display: block;
  margin-top: 30px;
  min-height: 210px;
  width: 100%;
}
.modal.btpm .box-reporting {
  min-height: 325px !important;
}
.modal.btpm .box-reporting.success {
  background-color: white;
  border: #72C279 2px solid;
}
.modal.btpm .box-icon {
  background-color: #434955;
  border-radius: 50%;
  display: table;
  height: 75px;
  margin: 0 auto;
  margin-top: 0px;
  width: 75px;
  margin-top: -50px;
}
.modal.btpm .box-icon.success {
  background-color: #72C279;
}
.modal.btpm .box-icon.danger {
  background-color: #da7b82 !important;
}
.modal.btpm .box-icon.warning {
  background-color: #fcc94f !important;
}
.modal.btpm .box-icon.info {
  background-color: #4ac7e0 !important;
}
.modal.btpm .box-icon span {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.modal.btpm .bt-reporting-details {
  padding-top: 10px;
  min-height: 150px;
}
.modal.btpm .bt-reporting-details .table thead > tr > th {
  border-right: solid 1px #a0d0eb !important;
}
.modal.btpm .bt-reporting-details .table th.warning {
  color: #ffffff !important;
  font-weight: bold !important;
  font-size: 14px;
  text-align: center !important;
  background-color: #fbbb22;
  border-top: 2px solid #fcc94f !important;
  border-bottom: 2px solid #fcc94f !important;
}
.modal.btpm .bt-reporting-details .table .bt_reporting_products {
  font-size: 14px;
  font-weight: bold !important;
  text-align: center !important;
}
.modal.btpm .bt-reporting-details .table .bt_reporting_products-lines {
  text-align: center !important;
}
.modal.btpm .bt-reporting-details .table .bt_warning_products {
  border: #fcc94f 2px solid;
  padding: 20px;
}
.modal.btpm .bt-reporting-details .bt_report_notification {
  padding: 20px;
  text-align: center !important;
}

/* Rating block */
#addons-rating-container {
  background-image: url(../img/star.png), url(../img/star.png);
  background-position: 1% center, 99% center;
  background-repeat: no-repeat;
  text-align: center;
}
#addons-rating-container p.dismiss {
  font-size: 10px;
}

/* Footer block */
#pm_panel_cs_modules_bottom {
  height: 240px !important;
  padding: 0 18px !important;
}
#pm_panel_cs_modules_bottom h2 {
  padding: 0 !important;
}
#pm_panel_cs_modules_bottom iframe {
  overflow: hidden;
  height: 178px;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}
#pm_panel_cs_modules_bottom div#cs-product-container {
  padding: 0 18px;
}

#pm_support_informations {
  height: 90px !important;
  padding: 0 18px !important;
}
#pm_support_informations h2 {
  padding: 0 !important;
}
#pm_support_informations ul.pm_links_block {
  list-style: none;
  margin: 0;
  padding: 0;
}
#pm_support_informations ul.pm_links_block li {
  margin: 0px 30px;
  padding: 0;
  display: inline-block;
}
#pm_support_informations .pm_copy_block {
  position: absolute;
  right: 10px;
  top: 12px;
}
#pm_support_informations .pm_copy_block img {
  max-width: 150px;
}
