<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>motive</name>
    <displayName><![CDATA[Motive Commerce Search]]></displayName>
    <version><![CDATA[2.30.2]]></version>
    <description><![CDATA[Add Motive to your shop for an intuitive &amp; beautiful search.]]></description>
    <author><![CDATA[Motive (https://motive.co)]]></author>
    <tab><![CDATA[search_filter]]></tab>
	<confirmUninstall><![CDATA[Are you sure? This will not cancel your account in Motive service]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>