.quantity_discount { margin-top: 10px; }
.product-miniature .quantity_discount.eohover { display: none; }
.product-miniature:hover .quantity_discount.eohover { display: block; }
.quantity_discount.eohover table {
	margin-bottom: 20px;
	width: 100%;
	border: 1px solid #999999;
	border-bottom: none;
	background: white;
	border-collapse: inherit;
}
.quantity_discount.eohover table th {
	background: #fbfbfb;
	border-bottom-width: 1px;
	color: #333;
	vertical-align: middle;
	padding: .50rem;
}
.quantity_discount.eohover table td {
	padding: 8px;
	line-height: 1.42857;
	vertical-align: top;
	border-top: 1px solid #d6d4d4;
}